Source: ros-melodic-mrpt2
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ffmpeg, freeglut3-dev, libassimp-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libeigen3-dev, libfreenect-dev, libglfw3-dev, libjpeg-dev, libjsoncpp-dev, libopencv-dev, libopenni2-dev, libpcap0.8-dev, libsuitesparse-dev, libswscale-dev, libudev-dev, libusb-1.0-0-dev, libwxgtk3.0-dev, libxrandr-dev, libxxf86vm-dev, ros-melodic-cv-bridge, ros-melodic-geometry-msgs, ros-melodic-nav-msgs, ros-melodic-octomap, ros-melodic-pcl-conversions, ros-melodic-rosbag-storage, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-stereo-msgs, ros-melodic-tf2, ros-melodic-tf2-msgs, wx-common, zlib1g-dev
Homepage: https://www.mrpt.org/
Standards-Version: 3.9.2

Package: ros-melodic-mrpt2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Mobile Robot Programming Toolkit (MRPT) version 2.x
